*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}

.Story{
    width: 100%;
    height: 90px;
    margin: 150px 0 100px 0;
    display: flex;
    justify-content: center;
    position: relative;

}
.Story-Mi{
    width: 1300px;
    overflow: hidden;
    height: 95px;
    display: flex;
    justify-content: center;

}
.Story li{
    display: inline-block;
    padding-left: 16px;
    padding-right: 16px;


}
.a-baner{
    font-family: 'irsans';
}

.Story img{
    height: 90px;
    width: 90px;
    border-radius: 50%;

}
.Story ul div{
    width: 90px;
    height: 90px;

    background:
            padding-box,
            linear-gradient(
            green,white,red) border-box;
    border: 1px solid transparent;
    border-radius: 50%;
    background-size: cover;
    position: relative;
}
.Story ul div img{
    border-radius: 50%;
    position: absolute;
    width: 82px;
    height: 82px;
    bottom: 4px;
    right: 4px;
}
.Story img:hover{
    transition: 0.5s;
    transform: scale(1.05);
}
.Right-btn img{
    height: 35px;
    width: 35px;
    position: absolute;
    right: 26px;
    top: 190px;

}
.Left-btn img{
    height: 35px;
    width: 35px;
    position: absolute;
    left: 26px;
    top: 190px;

}
.btn-box {
    display: inline-block;
    padding: 12px 28px;
    background-color: red;
    border-radius: 999px;
    font-size: 12px;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    margin-left: 100px;
    background: linear-gradient(white,white)
    padding-box,
    linear-gradient(green,white,red)border-box;
    border: 4px solid transparent;
}

.btn-box:hover {
    box-shadow: 0 0 2px black,

}
.btn-box a{
    text-decoration: none;
    color: black;

}
.btn-box img{
    height: 25px;
    position: absolute;
}
.header{
    width: 100%;
    height: 130px;
}
.Load{
    position: absolute;
    right: -4px;
    z-index: 100;
}
.Story5 li{
    padding-left: 1px;
    padding-top: -20px;
    margin-bottom: -50px;
    margin-left: 90px;

}
.Story5 ul{
    display: flex;
    flex-direction: row;
    right: 0;
    list-style: none;
    margin: 0 0 0 12%;
}
.Story5 img{
    height: 60px;
    width: 60px;
    border-radius: 20%;
    object-fit: cover;
    transition: all .3s cubic-bezier(.499,.05,.55,.95);
    display: block;
    z-index: 0;

}

.more div{
    height: 55px;
    background: darkgrey;
    border-radius: 50%;
    width: 55px;
    position: relative;
}
.more img{
    height: 30px;
    width: 29px;
    position: absolute;
    top: 13px;
    right: 13px;
}
.more{
    cursor: pointer;
}
.Icon-Sec img {
    cursor: pointer;
}
.Right-1{
    background: lightgray;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: relative;
    top: 23px;
    right: -1353px;


}
.Right-1 img{
    position: absolute;
    height: 17px;
    right: 9px;
    width: 17px;
    top: 11px;
}
.Left-1{
    background: lightgrey;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: relative;
    top: 23px;
    left: 0;
}
.Left-1 img{
    position: absolute;
    height: 17px;
    left: 9px;
    width: 17px;
    top: 11px;

}
